* {
  background-color: #d2e1ff;
  padding: 0px;
  margin: 0px;
}

header {
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(99, 159, 211);
  padding: 16px;
  margin: auto;
  font-size: 60px;
}


body {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  line-height: 1.3;

}

p::first-letter {
  font-size: x-large;
  color: rgb(137, 127, 122);
}

.topPageIcon {
  width: 60px;
  height: 60px;
  padding: 16px;
  margin: 16px;
}

.topBar {
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
}
 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 25px 20px -200px;
  width: 100%;
  height: 60px;
}
.topPageNavItem {
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-shadow: 1px 1px 0 #343b3c;
  
}
 
.container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 13px 35px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.container a:hover {
  color: rgb(77, 136, 200);
  text-shadow: 1px 1px 0 rgb(59, 105, 154);
  background: lightyellow;
  border-radius: 30px;
}



/* Content */
/* Intro session*/
.introSession {
  width: 100%;
  height: 400px;
  margin: 10px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
  padding: 20px;
}

.artistName {
  color: rgb(99, 159, 211);
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  font-size: large;
  width: 800px;
  text-align: left;
}


.description {
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 500px;
  text-align: left;
}

.picCollection {
  border: 10px;
  width: 100%;
}
.picCollection > img {
  width: auto;
  height: 600px;
  margin: 20px;
  display: inline-grid;

  justify-content: center;
}

.firsttext {
  background-color: transparent;
  font-size: xx-large;
  font-weight: 700;
  color:rgb(99, 159, 211);
}

.bottomNavBar {
  width: 100%;
  padding: 20px;
  margin: 10px;
  position: relative;
  bottom: 0;
}
.bottomIcon {
  width: 50px;
  height: 50px;
  padding: 5px;
}

/* Bio Page*/
.bio {
  margin: 10px;
  margin-top: 60px;
  padding: 15px;
  display:flex;
  justify-content: center;
  align-items: center;
 
}
.biographyHead{
  color: rgb(99, 159, 211); 
}

.bioText {
  text-align: left;
  width: 800px;
  margin-left: 40px;
  margin-right: 40px;
}

.pic {
  width: 300px;
  height: auto;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
 
.instrument{
  
  margin-top: 50px;
  margin-bottom: 100px;
}
.insHeading{
  display:inline;
  justify-items: center;
  align-items: center; 
  
  width: 650px;
  font-weight: 700;
}
ul{
  margin:auto; 
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 650px;
  list-style: none;
}
li{
  
  color: #425df7;
  font-weight: 600;
}
.instrumentImg{
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 10px;
}



/*  disc Page*/
.discographyPage{
  width: 100%; 
  margin-top: 50px;
  margin-bottom: 100px;
}

table{
  background: white;
  border-radius:3px; 
  margin: auto;
  max-width: 800px;
  padding:5px;
  width: 100%; 
}
tr { 
  color:#666B85;
}
td {
  background:#ffffff;
  padding:20px;
  text-align:center;
  font-weight:300;
  font-size:20px;
  border: 1px solid #C1C3D1;
}
 
.albumsImg {
  width: 200px;
  height: 200px;
  
}
 
/*video Page*/
.videoPage {
  width: 70%;
  margin: 50px;
}

.descripeV{
  width: 60%;
  margin: auto;
  border: 3px dashed #343b3c;  

} 

.videoBottomIcon{
  width: 50px;
  height: 50px;
  transform: rotate(20deg);
}